body, html {
  margin: 0;
  padding: 0;
  font-family: "Offside", sans-serif;
  font-style: normal;
  background-color: #111;
  color: #fff;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes draw-border {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

/* Main container */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

p {

}

#fullName {
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 0px 10px 0px;
  color: #f0f0f0;

  opacity: 0;
  animation: fade-slide-in 1s ease forwards;
  animation-delay: 2s;
}

#name {
  margin: 50px 0;
  font-size: 1.5rem;
  color: #fff;
  border-left-style: solid;
  border-left-color: #fff;

  animation: fade-slide-in 1s ease forwards;
}

#myName {
  padding: 0px 10px 0px;
  margin: 0;

  opacity: 0;
  animation: fade-slide-in 1s ease forwards;
  animation-delay: 1s;
}

#workedOn {
  margin: 0;

  opacity: 0;
  animation: fade-slide-in 1s ease forwards;
  animation-delay: 3s;
}

ul {
  margin: 0;

  opacity: 0;
  animation: fade-slide-in 1s ease forwards;
  animation-delay: 2s;
}

#proj {
  padding: 10px 10px 0;
  margin: 10px;
  border-style: solid;
  border-color: #fff;

  opacity: 0;
  animation: fade-slide-in 1s ease forwards;
  animation-delay: 3s;
}

a {
  color: #fff;
  margin: 10px 10px 10px 0px;
  padding: 0;
}